@charset "UTF-8";
/* ==========================================================================
   Navbar:
   ========================================================================== */
.header {
  height: 100%;
  width: 100%;
}
.header .navbar {
  height: 100px;
  padding: 0;
  background-color: var(--color-navbar);
}
.header .navbar-collapse {
  background-color: var(--color-contrast-lower);
}
.header .navbar-toggler {
  margin-right: 3rem;
}
.header .navbar-toggler .navbar-toggler-icon {
  color: var(--color-contrast-high);
}
.header a {
  font-family: Merienda, cursive;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
}
.header .navbar-brand {
  padding: 0 0 0 3rem;
  margin: 0;
}
.header .navbar-brand img {
  max-width: 60px;
}
.header .dropdown-toggle:after {
  border-top: 0;
}
.header .nav-item.active .nav-link {
  font-weight: 700;
  font-size: 20px;
}
.header .nav-item.active .nav-link:after {
  transform: scaleX(1);
  transform-origin: left;
}
.header .nav-link {
  position: relative;
  min-height: 50px;
  color: var(--color-contrast-high);
}
.header .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
.header .nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
}
.header .icon[data-v-76671520] {
  height: 0.875rem;
  min-width: 0.875rem;
  max-width: 2rem;
  fill: var(--color-accent);
}

/* ==========================================================================
   Home:
   ========================================================================== */
#games .rainbow-six-siège {
  position: relative;
  width: 20%;
  height: 285.92px;
  background: linear-gradient(90deg, #000000 1%, #434343 99%);
}
#games .rainbow-six-siège:hover {
  z-index: 999;
  transform: scaleX(1.2);
  transition: ease-in-out 0.2s;
}
#games .rainbow-six-siège:hover .content {
  opacity: 1;
}
#games .rainbow-six-siège img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10%;
  top: 29px;
  object-fit: contain;
}
#games .fortnite {
  position: relative;
  width: 20%;
  height: 285.92px;
  background: linear-gradient(90deg, #3c1053 1%, #ad5389 99%);
}
#games .fortnite:hover {
  z-index: 999;
  transform: scaleX(1.2);
  transition: ease-in-out 0.2s;
}
#games .fortnite:hover .content {
  opacity: 1;
}
#games .fortnite img {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 10%;
  top: 29px;
  object-fit: contain;
}
#games .league-of-legends {
  position: relative;
  width: 20%;
  height: 285.92px;
  background: linear-gradient(90deg, #11998e 1%, #38ef7d 99%);
}
#games .league-of-legends:hover {
  z-index: 999;
  transform: scaleX(1.2);
  transition: ease-in-out 0.2s;
}
#games .league-of-legends:hover .content {
  opacity: 1;
}
#games .league-of-legends img {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 10%;
  top: 29px;
  object-fit: contain;
}
#games .valorant {
  position: relative;
  width: 20%;
  height: 285.92px;
  background: linear-gradient(90deg, #333333 1%, #dd1818 99%);
}
#games .valorant:hover {
  z-index: 999;
  transform: scaleX(1.2);
  transition: ease-in-out 0.2s;
}
#games .valorant:hover .content {
  opacity: 1;
}
#games .valorant img {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 10%;
  top: 29px;
  object-fit: contain;
}
#games .battlefield {
  position: relative;
  width: 20%;
  height: 285.92px;
  background: linear-gradient(90deg, #48c6ef 1%, #6f86d6 99%);
}
#games .battlefield:hover {
  z-index: 999;
  transform: scaleX(1.2);
  transition: ease-in-out 0.2s;
}
#games .battlefield:hover .content {
  opacity: 1;
}
#games .battlefield img {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 10%;
  top: 29px;
  object-fit: contain;
}
#games .content {
  opacity: 0;
  transition: all 0.5s;
}

/* ==========================================================================
   Search page:
   ========================================================================== */
#search-app main {
  height: 100vh;
}
#search-app main.background-search-r6 {
  background: url("../img/Fond/search-r6.jpg") no-repeat top/cover;
}
#search-app main.background-search-fortnite {
  background: url("../img/Fond/search-fortnite.jpg") no-repeat top/cover;
}
#search-app main.background-search-lol {
  background: url("../img/Fond/search-lol.jpg") no-repeat top/cover;
}
#search-app main.background-search-valorant {
  background: url("../img/Fond/search-valorant.jpg") no-repeat top/cover;
}
#search-app main.background-search-battlefield {
  background: url("../img/Fond/search-battlefield.png") no-repeat top/cover;
}
#search-app .search-bar {
  position: absolute;
  width: 50%;
  left: 450px;
  top: 500px;
}
#search-app .search-bar .game-r6 {
  background-color: var(--color-search-r6);
}
#search-app .search-bar .game-fortnite {
  background-color: var(--color-search-fortnite);
}
#search-app .search-bar .game-lol {
  background-color: var(--color-search-lol);
}
#search-app .search-bar .game-valorant {
  background-color: var(--color-search-valorant);
}
#search-app .search-bar .game-battlefield {
  background-color: var(--color-search-battlefield);
}
#search-app .search-bar .game-r6 .game img,
#search-app .search-bar .game-fortnite .game img,
#search-app .search-bar .game-lol .game img,
#search-app .search-bar .game-valorant .game img,
#search-app .search-bar .game-battlefield .game img {
  height: 80px;
  object-fit: contain;
}
#search-app .search-bar .search {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  font-size: larger;
}

/* ==========================================================================
   R6 page:
   ========================================================================== */
.r6-background {
  background: url("../img/Banners/r6.jpg") no-repeat top/cover;
  height: 440px;
}
.r6-background .user-profil .img-profil {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 160px;
  top: 490px;
  background: #233053;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.r6-background .user-profil p {
  position: absolute;
  top: 530px;
  left: 270px;
  color: #FF0000;
  font-weight: bold;
}

#r6 {
  background: url("../img/Fond/Fond R6.jpg") no-repeat center/cover;
}
#r6 .r6-card {
  background: #1D2238;
  border-radius: 25px;
}
#r6 .r6-card .card-header {
  border-bottom: 4px solid var(--color-r6);
  color: var(--color-r6);
}
#r6 .r6-card .card-header img {
  max-height: 30px;
}
#r6 .r6-card .card-body {
  display: flex;
  color: var(--color-white);
}
#r6 .r6-card .card-body img {
  height: 80px;
  object-fit: cover;
}
#r6 .r6-card .card-body h6 {
  color: var(--color-r6);
}
#r6 .r6-card-operators {
  background: #1D2238;
  border-radius: 25px;
  color: var(--color-r6);
  height: 280px;
}
#r6 .r6-card-operators .card-header {
  border-bottom: 4px solid var(--color-r6);
}
#r6 .r6-card-operators .card-header img {
  max-height: 50px;
}
#r6 .r6-card-operators .card-body {
  display: flex;
}
#r6 .r6-card-operators .card-body img {
  height: 80px;
  object-fit: cover;
}

/* ==========================================================================
   Fortnite page:
   ========================================================================== */
.fortnite-background {
  background: url("../img/Banners/fortnite.jpg") no-repeat center/cover;
  height: 440px;
}
.fortnite-background .user-profil .img-profil {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 160px;
  top: 490px;
  background: #69BF02;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.fortnite-background .user-profil p {
  position: absolute;
  top: 530px;
  left: 270px;
  color: #FF0000;
  font-weight: bold;
}

#fortnite {
  background: url("../img/Fond/Fortnite.png") no-repeat center/cover;
}
#fortnite .fortnite-card {
  background: #6AAF03;
  border-radius: 25px;
}
#fortnite .fortnite-card .card-header {
  border-bottom: 4px solid var(--color-fortnite);
  color: var(--color-fortnite);
}
#fortnite .fortnite-card .card-header img {
  max-height: 30px;
}
#fortnite .fortnite-card .card-body {
  display: flex;
  color: var(--color-black);
}
#fortnite .fortnite-card .card-body img {
  height: 80px;
  object-fit: cover;
}
#fortnite .fortnite-card .card-body h6 {
  color: var(--color-fortnite);
}
#fortnite .fortnite-card-stats {
  background: #6AAF03;
  border-radius: 25px;
  color: var(--color-fortnite);
  max-height: 100%;
}
#fortnite .fortnite-card-stats .card .card-header {
  border-bottom: 4px solid var(--color-fortnite);
}
#fortnite .fortnite-card-stats .card .card-header .nav-tabs {
  border: none;
}
#fortnite .fortnite-card-stats .card .card-header .nav:first-child {
  border-radius: 25px 0 0 25px;
}
#fortnite .fortnite-card-stats .card .card-header .nav .nav-link {
  color: var(--color-fortnite);
  font-weight: bold;
}
#fortnite .fortnite-card-stats .card .card-header .nav .nav-link:hover {
  background-color: var(--color-fortnite);
  color: var(--color-black);
  border: none;
}
#fortnite .fortnite-card-stats .card .card-header .nav .nav-link:hover:first-child {
  border-radius: 25px 0 0 25px;
}
#fortnite .fortnite-card-stats .card .card-header .nav .nav-link.active {
  background-color: var(--color-fortnite);
  color: var(--color-black);
  border: none;
}
#fortnite .fortnite-card-stats .card .card-header .nav .nav-link.active:first-child {
  border-radius: 25px 0 0 25px;
}
#fortnite .fortnite-card-stats .card .card-body {
  display: flex;
  color: var(--color-black);
}
#fortnite .fortnite-card-stats .card .card-body h6 {
  color: var(--color-fortnite);
}

/* ==========================================================================
   League of legends page:
   ========================================================================== */
.lol-background {
  background: url("../img/Banners/lol.png") no-repeat center/cover;
  height: 440px;
}
.lol-background .user-profil .img-profil {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 160px;
  top: 490px;
  background: var(--color-bg-lol);
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.lol-background .user-profil p {
  position: absolute;
  top: 530px;
  left: 270px;
  color: #FF0000;
  font-weight: bold;
}

#lol {
  background: url("../img/Fond/Lol.png") no-repeat center/cover;
}
#lol .lol-card {
  background: var(--color-bg-lol);
  border-radius: 25px;
}
#lol .lol-card .card-header {
  border-bottom: 4px solid var(--color-lol);
  color: var(--color-lol);
}
#lol .lol-card .card-header img {
  max-height: 30px;
}
#lol .lol-card .card-body {
  display: flex;
  color: var(--color-white);
}
#lol .lol-card .card-body img {
  height: 80px;
  object-fit: cover;
}
#lol .lol-card .card-body h6 {
  color: var(--color-lol);
}
#lol .lol-card-champions {
  background: var(--color-bg-lol);
  border-radius: 25px;
  color: var(--color-lol);
  height: 100%;
}
#lol .lol-card-champions .card-header {
  border-bottom: 4px solid var(--color-lol);
}
#lol .lol-card-champions .card-header img {
  max-height: 50px;
}
#lol .lol-card-champions .card-body {
  display: flex;
}
#lol .lol-card-champions .card-body img {
  height: 80px;
  object-fit: cover;
}

/* ==========================================================================
   Valorant page:
   ========================================================================== */
.valorant-background {
  background: url("../img/Banners/Valorant.jpg") no-repeat center/cover;
  height: 440px;
}
.valorant-background .user-profil .img-profil {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 160px;
  top: 490px;
  background: var(--color-bg-valorant);
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.valorant-background .user-profil p {
  position: absolute;
  top: 530px;
  left: 270px;
  color: #FF0000;
  font-weight: bold;
}

#valorant {
  background: url("../img/Fond/Valorant.png") no-repeat center/cover;
}
#valorant .valorant-card {
  background: var(--color-bg-valorant);
  border-radius: 25px;
}
#valorant .valorant-card .card-header {
  border-bottom: 4px solid var(--color-valorant);
  color: var(--color-valorant);
}
#valorant .valorant-card .card-header img {
  max-height: 30px;
}
#valorant .valorant-card .card-body {
  display: flex;
  color: var(--color-white);
}
#valorant .valorant-card .card-body img {
  height: 80px;
  object-fit: cover;
}
#valorant .valorant-card .card-body h6 {
  color: var(--color-valorant);
}
#valorant .valorant-card-operators {
  background: var(--color-bg-valorant);
  border-radius: 25px;
  color: var(--color-valorant);
  height: 100%;
}
#valorant .valorant-card-operators .card-header {
  border-bottom: 4px solid var(--color-valorant);
}
#valorant .valorant-card-operators .card-header img {
  max-height: 50px;
}
#valorant .valorant-card-operators .card-body {
  display: flex;
}
#valorant .valorant-card-operators .card-body img {
  height: 80px;
  object-fit: cover;
}

/* ==========================================================================
   Battlefield page:
   ========================================================================== */
.battlefield-background {
  background: url("../img/Banners/Battlefield.jpg") no-repeat top/cover;
  height: 440px;
}
.battlefield-background .user-profil .img-profil {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 160px;
  top: 490px;
  background: var(--color-bg-battlefield);
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.battlefield-background .user-profil p {
  position: absolute;
  top: 530px;
  left: 270px;
  color: #FF0000;
  font-weight: bold;
}

#battlefield {
  background: url("../img/Fond/Battlefield.png") no-repeat center/cover;
}
#battlefield .battlefield-card {
  background: var(--color-bg-battlefield);
  border-radius: 25px;
}
#battlefield .battlefield-card .card-header {
  border-bottom: 4px solid var(--border-battlefield);
  color: var(--color-battlefield);
}
#battlefield .battlefield-card .card-header img {
  max-height: 30px;
}
#battlefield .battlefield-card .card-body {
  display: flex;
  color: var(--color-white);
}
#battlefield .battlefield-card .card-body img {
  height: 50px;
  object-fit: cover;
}
#battlefield .battlefield-card .card-body h6 {
  color: var(--color-battlefield);
}
#battlefield .battlefield-card-level .card-header img {
  max-height: 50px;
}
#battlefield .battlefield-card-assault {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../img/Battlefield/battlefield-v.png") no-repeat center/cover;
  height: 320px;
  position: relative;
}
#battlefield .battlefield-card-assault .medaille {
  position: absolute;
  width: 60px;
  object-fit: cover;
  right: 0;
  top: 0;
}
#battlefield .battlefield-card-assault .logo-assault {
  position: absolute;
  width: 256px;
  object-fit: cover;
  left: 70px;
}
#battlefield .battlefield-card-assault h2 {
  position: absolute;
  width: 204px;
  height: 42px;
  left: 130px;
  top: 200px;
  color: #FFFFFF;
}

/* ==========================================================================
   Footer:
   ========================================================================== */
footer .footer--top {
  padding: 3rem 0;
  background-color: var(--color-contrast-lower);
}
footer .footer--top .footer--logo {
  opacity: 0.3;
}
footer .footer--top .footer--liens .navbar-nav {
  flex-wrap: wrap;
  max-height: 300px;
}
footer .footer--top .footer--liens .navbar-nav .nav-item {
  max-width: 50%;
}
footer .footer--top .social-media-links {
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
footer .footer--top .social-media-links .rounded-social-buttons {
  text-align: center;
}
footer .footer--top .social-media-links .rounded-social-buttons a:hover {
  transform: scale(1.15);
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button:hover, footer .footer--top .social-media-links .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.facebook:hover, footer .footer--top .social-media-links .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.twitter {
  background: #55acee;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.twitter:hover, footer .footer--top .social-media-links .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.linkedin:hover, footer .footer--top .social-media-links .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.youtube:hover, footer .footer--top .social-media-links .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.instagram {
  background: #125688;
}
footer .footer--top .social-media-links .rounded-social-buttons .social-button.instagram:hover, footer .footer--top .social-media-links .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
footer .footer--top .social-media-links .rounded-social-buttons .fa-twitter,
footer .footer--top .social-media-links .rounded-social-buttons .fa-facebook-f,
footer .footer--top .social-media-links .rounded-social-buttons .fa-linkedin,
footer .footer--top .social-media-links .rounded-social-buttons .fa-youtube,
footer .footer--top .social-media-links .rounded-social-buttons .fa-instagram {
  font-size: 25px;
}

/*# sourceMappingURL=index.css.map */
