.fortnite-background {
    background: url("../img/Banners/fortnite.jpg") no-repeat center / cover;
    height: 440px;

    .user-profil {
        .img-profil {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 160px;
            top: 490px;

            background: #69BF02;
            border: 2px solid #ffffff;
            border-radius: 50%;
        }

        p {
            position: absolute;
            top: 530px;
            left: 270px;
            color: #FF0000;
            font-weight: bold;
        }
    }
}

#fortnite {
    background: url("../img/Fond/Fortnite.png") no-repeat center / cover;

    .fortnite-card {
        background: #6AAF03;
        border-radius: 25px;

        .card-header {
            border-bottom: 4px solid var(--color-fortnite);
            color: var(--color-fortnite);

            img {
                max-height: 30px;
            }
        }

        .card-body {
            display: flex;
            color: var(--color-black);

            img {
                height: 80px;
                object-fit: cover;
            }

            h6 {
                color: var(--color-fortnite);
            }
        }
    }

    .fortnite-card-stats {
        background: #6AAF03;
        border-radius: 25px;
        color: var(--color-fortnite);
        max-height: 100%;

        .card {
            .card-header {
                border-bottom: 4px solid var(--color-fortnite);

                .nav-tabs {
                    border: none;
                }

                .nav {
                    &:first-child {
                        border-radius: 25px 0 0 25px;
                    }

                    .nav-link {
                        color: var(--color-fortnite);
                        font-weight: bold;

                        &:hover {
                            background-color: var(--color-fortnite);
                            color: var(--color-black);
                            border: none;
                        }

                        &.active {
                            background-color: var(--color-fortnite);
                            color: var(--color-black);
                            border: none;

                            &:first-child {
                                border-radius: 25px 0 0 25px;
                            }
                        }
                    }
                }
            }

            .card-body {
                display: flex;
                color: var(--color-black);

                h6 {
                    color: var(--color-fortnite);
                }
            }
        }
    }
}
