#games {
    .rainbow-six-siège {
        position: relative;
        width: 20%;
        height: 285.92px;
        background: linear-gradient(90deg, #000000 1%, #434343 99%);

        &:hover {
            z-index: 999;
            transform: scaleX(1.2);
            transition: ease-in-out 0.2s;

            .content {
                opacity:1;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 10%;
            top: 29px;
            object-fit: contain;
        }
    }

    .fortnite {
        position: relative;
        width: 20%;
        height: 285.92px;
        background: linear-gradient(90deg, #3c1053 1%, #ad5389 99%);

        &:hover {
            z-index: 999;
            transform: scaleX(1.2);
            transition: ease-in-out 0.2s;

            .content {
                opacity:1;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 90%;
            left: 10%;
            top: 29px;
            object-fit: contain;
        }
    }

    .league-of-legends {
        position: relative;
        width: 20%;
        height: 285.92px;
        background: linear-gradient(90deg, #11998e 1%, #38ef7d 99%);

        &:hover {
            z-index: 999;
            transform: scaleX(1.2);
            transition: ease-in-out 0.2s;

            .content {
                opacity:1;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 90%;
            left: 10%;
            top: 29px;
            object-fit: contain;
        }
    }

    .valorant {
        position: relative;
        width: 20%;
        height: 285.92px;

        background: linear-gradient(90deg, #333333 1%, #dd1818 99%);

        &:hover {
            z-index: 999;
            transform: scaleX(1.2);
            transition: ease-in-out 0.2s;

            .content {
                opacity:1;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 90%;
            left: 10%;
            top: 29px;
            object-fit: contain;
        }
    }

    .battlefield {
        position: relative;
        width: 20%;
        height: 285.92px;

        background: linear-gradient(90deg, #48c6ef 1%, #6f86d6 99%);

        &:hover {
            z-index: 999;
            transform: scaleX(1.2);
            transition: ease-in-out 0.2s;

            .content {
                opacity:1;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 90%;
            left: 10%;
            top: 29px;
            object-fit: contain;
        }
    }

    .content{
        opacity:0;
        transition: all .5s;
    }
}
