/* ==========================================================================
   Navbar:
   ========================================================================== */
@import 'header';

/* ==========================================================================
   Home:
   ========================================================================== */
@import "home";

/* ==========================================================================
   Search page:
   ========================================================================== */
@import "search-page";

/* ==========================================================================
   R6 page:
   ========================================================================== */
@import "r6";

/* ==========================================================================
   Fortnite page:
   ========================================================================== */
@import "fortnite";

/* ==========================================================================
   League of legends page:
   ========================================================================== */
@import "lol";

/* ==========================================================================
   Valorant page:
   ========================================================================== */
@import "valorant";

/* ==========================================================================
   Battlefield page:
   ========================================================================== */
@import "battlefield";

/* ==========================================================================
   Footer:
   ========================================================================== */
@import "footer";
