.lol-background {
    background: url("../img/Banners/lol.png") no-repeat center / cover;
    height: 440px;

    .user-profil {
        .img-profil {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 160px;
            top: 490px;

            background: var(--color-bg-lol);
            border: 2px solid #ffffff;
            border-radius: 50%;
        }

        p {
            position: absolute;
            top: 530px;
            left: 270px;
            color: #FF0000;
            font-weight: bold;
        }
    }
}

#lol {
    background: url("../img/Fond/Lol.png") no-repeat center / cover;

    .lol-card {
        background: var(--color-bg-lol);
        border-radius: 25px;

        .card-header {
            border-bottom: 4px solid var(--color-lol);
            color: var(--color-lol);

            img {
                max-height: 30px;
            }
        }

        .card-body {
            display: flex;
            color: var(--color-white);

            img {
                height: 80px;
                object-fit: cover;
            }

            h6 {
                color: var(--color-lol);
            }
        }
    }

    .lol-card-champions {
        background: var(--color-bg-lol);
        border-radius: 25px;
        color: var(--color-lol);
        height: 100%;

        .card-header {
            border-bottom: 4px solid var(--color-lol);

            img {
                max-height: 50px;
            }
        }

        .card-body {
            display: flex;

            img {
                height: 80px;
                object-fit: cover;
            }
        }
    }
}
